bumpversion          0.5.3
certifi              2019.6.16
chardet              3.0.4
CherryPy             8.9.1
Click                7.0
coreapi              2.3.3
coreschema           0.0.4
Django               1.11.6
django-debug-toolbar 1.11
django-rest-swagger  2.2.0
djangorestframework  3.9.4
gunicorn             19.9.0
idna                 2.8
itypes               1.1.0
Jinja2               2.10.1
M2Crypto             0.35.2
MarkupSafe           1.1.1
openapi-codec        1.3.2
pip                  19.1.1
pip-tools            3.8.0
psycopg2             2.8.3
pyAS2                0.4.6
pyasn1               0.4.5
pytz                 2019.1
requests             2.22.0
setuptools           41.0.1
simplejson           3.16.0
six                  1.12.0
sqlparse             0.3.0
typing               3.7.4
uritemplate          3.0.0
urllib3              1.25.3
wheel                0.33.4